.Contact {
  border-top: 1px solid black;
}

.Contact td {
  padding: 7px 50px 7px 50px;
}

.Contact button {
  font-size: 17px;
  padding: 5px 7px 5px 7px;
  margin: 0 3px 0 3px;
  background-color: transparent;
  outline: none;
  border: 0;
  border: 1px solid #555050;
}

.Contact button:hover {
  cursor: pointer;
  color: white;
}

.Edit-Button:hover {
  background-color: #0ed377;
  border-color: #0ed377;
}

.Delete-Button:hover {
  background-color: red;
  border-color: red;
}
